/bootstrap/compiled.php
/vendor
/scripts
.idea/
composer.phar
composer.lock
.env.*.php
.env.php
.env
.DS_Store
Thumbs.db
phpunit.phar
/node_modules/
aliases
Homestead.yaml
Vagrantfile
/.vagrant/
/.ssh/
/.homestead/
/resources/assets/bower/
_ide_helper.php
/public/js/
/public/css/
/public/tinymce/